.map {
    width: 224px;
    height: 288px;
    background-color: black;
    font-size: 0;
    margin: auto;
}

.map .m-head {
    height: 24px;
    color: #FFF;
    font-size: 10px;
    text-align: center;
}

.map .b-map {
    height: 248px;
    position: relative;
    /*background-color: blue;*/
}

.map .f-map {
    height: 16px;
}

.map .wall {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: blue;
    /*border-radius: 5px;*/
    position: absolute;
}

.map .n-wall {
    display: inline-block;
    width: 8px;
    height: 8px;
}

.map .food {
    background-color: yellow;
    width: 2px;
    height: 2px;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 50%;
    position: absolute;
}

.map .pm {
    width: 12px;
    height: 12px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
}