.map {
    width: 224px;
    height: 288px;
    background-color: black;
    font-size: 0;
    margin: auto;
}

.map .m-head {
    height: 24px;
    color: #FFF;
    font-size: 10px;
    text-align: center;
}

.map .b-map {
    height: 248px;
    position: relative;
}

.map .f-map {
    height: 16px;
}

.map .wall {
    width: 8px;
    height: 8px;
    background-color: blue;
    position: absolute;
}

.map .wall.bl-border,
.map .wall.br-border,
.map .wall.b-half,
.map .wall.t-half {
    height: 4px;
}

.map .wall.l-half,
.map .wall.r-half {
    width: 4px;
}

.map .wall.tl-border {
    border-top-left-radius: 50%;
}

.map .wall.tr-border {
    border-top-right-radius: 50%;
}

.map .wall.br-border {
    border-bottom-right-radius: 50%;
}

.map .wall.bl-border {
    border-bottom-left-radius: 50%;
}

.map .br-corner,
.map .bl-corner,
.map .tr-corner,
.map .tl-corner {
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #000;
    z-index: 5;
}

.map .tl-corner {
    border-top-left-radius: 50%;
}

.map .tr-corner {
    border-bottom-left-radius: 50%;
}

.map .bl-corner {
    border-top-right-radius: 50%;
}
.map .br-corner {
    border-bottom-right-radius: 50%;
}

.map .n-wall {
    width: 8px;
    height: 8px;
}

.map .door {
    height: 2px;
    width: 8px;
    position: absolute;
    background-color: purple;
}

.map .food {
    background-color: yellow;
    width: 2px;
    height: 2px;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 50%;
    position: absolute;
}

.map .pm {
    width: 12px;
    height: 12px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
}

.map .energizer {
    width: 6px;
    height: 6px;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
}

.map .ghost {
    width: 12px;
    height: 12px;
    background-color: deeppink;
    border-radius: 50%;
    position: absolute;
    z-index: 9;
}